.barplayer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #131524;
    z-index: 10;
}

.barplayer .ui.grid {
    margin: 0;
    height: inherit;
}

.barplayer.container {
    padding: 0 2vh;
    padding-top: 0;
}

.barplayer .three.wide.column {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barplayer .three.wide.column img {
    width: 19px;
}

.barplayer .thirteen.wide.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.barplayer h1, .barplayer h2, .barplayer h3, .barplayer h4 {
    color: #D4D4E2;
}


#barPlayerRow {
    padding: 0px;
}