.rightsidediv {
    display: flex;
    position: absolute;
    right: 8vh;
    align-items: center;
    height: 100vh;
}

.rightsidediv h1, .rightsidediv h2, .rightsidediv h3, .rightsidediv h4, .rightsidediv p, .rightsidediv div{
    color: #D4D4E2;
}

.rightsidediv input {
    color: #D4D4E2 !important;
}