.tracklist.ui.grid  {
    margin: 0;
}

.tracklist.ui.grid > .row {
    border-bottom: 0.5px solid #707070;
}

.tracklist.ui.divided.list{
    margin: 0;
}

.tracklist.ui.list>.item{
    padding: .7em 0;
}

.tracklist.ui.list>.item img {
    height: inherit;
}

.tracklist .list .item div.header {
    color: #D4D4E2;
}

.tracklist a {
    display: flex;
    align-items: center;
    height: 3vh;
}

.tracklist .ui.tiny.image {
    width: 4vh;
    pointer-events: none;
}

.switch_button img{
    margin-top: 2vh ;
    margin-bottom: 1vh;
    width: 3vh;
}

.switch_button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch_button a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch_button a:hover {
    color: #D4D4E2;
}