.barplayer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #131524;
    z-index: 10;
}

.barplayer .ui.grid {
    margin: 0;
    height: inherit;
}

.barplayer.container {
    padding: 0 2vh;
    padding-top: 0;
}

.barplayer .right.floated.column {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.barplayer .right.floated.column img {
    width: 19px;
    margin-left: 30px;
}

.barplayer .left.floated.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.barplayer h1, .barplayer h2, .barplayer h3, .barplayer h4 {
    color: #D4D4E2;
}


#barPlayerRow {
    padding: 0px;
}

audio {
    visibility: hidden;
    height: 0px;
}

.fa.fa-volume-mute,  .fa.fa-volume-up, .fa.fa-repeat.active, .fa.fa-random.active{
    font-size: 15px;
    margin-right: 20px;
    color:  #D4D4E2;
}

.fa.fa-repeat, .fa.fa-random{
    font-size: 15px;
    margin-right: 20px;
    color: rgba(212,212,226,0.3);
}