.mediabuttons.six.wide.column {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: space-around;
}

.mediabuttons.playlist.six.wide.column {
    display: flex;
    align-items: center;
    justify-content: space-around;
}